<!doctype html>
<html lang="en">
<head>
    <title>{% if title %} {{title}} {% else %} Mid or feed {% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>

    <style>p{margin:0}</style>
    {% block extended_head %}
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Raleway" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %}">

    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>

<header role="banner">

    <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
            <a class="navbar-brand" href="?">Mid or feed</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/live/' %} active {%endif%}" href="/live/">Live
                            Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/summoner/' %} active {%endif%}" href="/summoner/">Summoner
                            Stats</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
<!-- END header -->

<section class="site-hero overlay" data-stellar-background-ratio="0.5"
         style="background-position:0 0;background-size:cover;background-image: url({% block background %}{% static 'images/big_image_1.jpg' %}{% endblock %}) ;">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">

            <!-- if summoner provided -->
            {% if show_searchBar == True %}
            <div class="col-md-8 text-center">

                <div class="mb-5 element-animate">
                    <h1>{{search_header}}</h1>
                    <p>{{search_text}}</p>

                </div>
                <p> {{status}}</p>
                <form class="form-inline element-animate" id="search-form">
                    <input type="text" value="{{request.GET.summoner}}" id="summonerName" name="summoner"
                           class="form-control form-control-block search-input" placeholder="{{search_placeholder}}">
                    <input type="button" onclick="search()" id="button" value="{{search_button}}"
                           class="btn btn-primary"/>
                </form>

            </div>
            {% else %}
            {% block content %}
            <div class="gameContainer"
                 style=" background-color: rgba(0,0,0,0.5);border-radius: 10px;padding: 10px;width: 72%;">
                <table style="text-align: center;width: 100%;">
                    <tbody>
                    <tr style="font-weight: 900;font-size: small;text-align: left;">
                        <td colspan="4">
                            <div style="display:inline;color: #a20000;padding-right:5px">{{gameType}}</div>
                            <div style="display:inline;padding-right:20px;padding-left:20px;border-left:solid 1px;border-right:solid 1px">
                                {{map}}
                            </div>
                            <div style="display:inline;padding-left:5px;font-weight: 400;" id="clock"></div>
                            <script>
                           //clock script.. YEAH I KNOW! SPAGETT.EXE
                           clock=document.getElementById("clock");
                           gameStartTime={{gameStartTime}};

                           function updateClock(){
                           dt=Math.floor((new Date).getTime()-gameStartTime)/1000;
                           m=Math.floor(dt/60);
                           s=Math.floor(dt%60);

                           clock.innerHTML= (m<10?'0':'')+m+":"+ (s<10?'0':'')+s;
                           }
                           updateClock();
                           setInterval(updateClock,1000);




                            </script>
                        <td>
                            <input type="button" class="btn-primary noborder"
                                   style="outline: none;transition-duration:0.3s;width:100%" value="Search"
                                   onclick="window.location.href='/live/';">
                        </td>

                        </td></tr>
                    <tr style="text-align: left;">
                        <td colspan="5" style="font-size: xx-small; padding-left: 5px;border-bottom:solid 1px;">RED
                            TEAM
                        </td>
                    </tr>
                    {% for participant in team1 %}
                    <tr style="height:50px;line-height: 10px;width: 64px;width: 100%; {% if participant.focus %} background-color:rgba(60, 73, 82, 0.81); {% endif %}">
                        <td style=" width:70px;"><img
                                src="http://ddragon.leagueoflegends.com/cdn/{{api_version}}/img/profileicon/{{participant.profileIconId}}.png"
                                style="width: 43px;"></td>
                        <td>
                            <h3 style="width:100%;line-height: 1px;font-size:medium;padding-left: 10px;vertical-align: middle;text-align: left; ">
                                <a
                                        href="/summoner?name={{participant.summonerName}}"
                                        style="color: cornsilk; position:relative; top:3px">{{participant.summonerName}}</a>
                            </h3>
                        </td>
                        <td style="width: 32px;">
                            <a href="/champions/?name={{participant.championName}}"
                               style="font-size:smaller;color: cornsilk;">
                                <img src="http://ddragon.leagueoflegends.com/cdn/{{api_version}}/img/champion/{{participant.championImage}}"
                                     style="width: 32px;">
                                <p style="font-size: xx-small;">
                                    {{participant.championName}}</p>
                            </a>
                        </td>
                        <td style="width: 20px;">
                            <img data-toggle="tooltip" title="{{participant.spell1}}"
                                 src="http://ddragon.leagueoflegends.com/cdn/{{api_version}}/img/spell/{{participant.spell1Img}}"
                                 style="width: 15px;"><br>
                            <img src="http://ddragon.leagueoflegends.com/cdn/{{api_version}}/img/spell/{{participant.spell2Img}} "
                                 style="padding-bottom: 8px; width: 15px; padding-top: 5px;" data-toggle="tooltip"
                                 title="{{participant.spell2}}"></td>

                        <td style="text-align: center; width: 70px;">
                            <div class="rank" id="{{participant.summonerId}}"
                                 style="margin:auto;background-size:cover;width: 42px;height: 42px; background-image: url('/static/loading.gif');">
                                <p style="font-size: xx-small;padding-top: 0px;vertical-align: bottom;"></p>
                                <p style="font-size: xx-small;padding-top:21px"></p>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                    <tr style="text-align: left;">
                        <td colspan="5"
                            style="font-size: xx-small; padding-left: 5px;border-bottom:solid 1px;padding-top:15px">BLUE
                            TEAM
                        </td>
                    </tr>
                    {% for participant in team2 %}
                    <tr style="height:50px;line-height: 10px;width: 64px;width: 100%; {% if participant.focus %} background-color:rgba(60, 73, 82, 0.81); {% endif %}">
                        <td style=" width:70px;"><img
                                src="http://ddragon.leagueoflegends.com/cdn/{{api_version}}/img/profileicon/{{participant.profileIconId}}.png"
                                style="width: 43px;"></td>
                        <td>
                            <h3 style="width:100%;line-height: 1px;font-size:medium;padding-left: 10px;vertical-align: middle;text-align: left; ">
                                <a
                                        href="/summoner?name={{participant.summonerName}}"
                                        style="color: cornsilk; position:relative; top:3px">{{participant.summonerName}}</a>
                            </h3>
                        </td>
                        <td style="width: 32px;">
                            <a href="/champions/?name={{participant.championName}}"
                               style="font-size:smaller;color: cornsilk;">
                                <img src="http://ddragon.leagueoflegends.com/cdn/{{api_version}}/img/champion/{{participant.championImage}}"
                                     style="width: 32px;">
                                <p style="font-size: xx-small;">
                                    {{participant.championName}}</p>
                            </a>
                        </td>
                        <td style="width: 20px;">
                            <img data-toggle="tooltip" title="{{participant.spell1}}"
                                 src="http://ddragon.leagueoflegends.com/cdn/{{api_version}}/img/spell/{{participant.spell1Img}}"
                                 style="width: 15px;"><br>
                            <img src="http://ddragon.leagueoflegends.com/cdn/{{api_version}}/img/spell/{{participant.spell2Img}} "
                                 style="padding-bottom: 8px; width: 15px; padding-top: 5px;" data-toggle="tooltip"
                                 title="{{participant.spell2}}"></td>

                        <td style="text-align: center; width: 70px;">
                            <div class="rank" id="{{participant.summonerId}}"
                                 style="margin:auto;background-size:cover;width: 42px;height: 42px; background-image: url('/static/loading.gif');">
                                <p style="font-size: xx-small;padding-top: 0px;vertical-align: bottom;"></p>
                                <p style="font-size: xx-small;padding-top:21px"></p>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <script src="{% static 'js/updateRanks.js' %}"></script>
            {% endblock %}

            {% endif %}

        </div>
    </div>
</section>
<!-- END section -->

<!-- loader -->
<div id="loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#f4b214"/>
    </svg>
</div>


<script src="{% static 'js/main.js' %}"></script>

</body>
</html>