{% load static %}
<style>
    td{
    padding-left:20px;
    }
</style>
{% if hasData %}
<table style="color:cornsilk;width:100%">
    <tr style="border-bottom:solid 1px;"><th colspan="3">Rank</th><th>Wins/Losses</th></tr>
    {% for league in leagues %}
    <tr>
        <td>
            <div class="rank"
                 style="text-align:center;margin: auto; background-size: cover; width: 64px; height: 64px; background-image: url('{% static 'tier-icons.png' %}'); background-position-x: {{league.tierbg}}px;">
            </div>
        </td>
        <td style="">
            {{league.flexStatus}}  {{league.tier}} {{league.rank}}
        </td>
        <td>
            {{league.leagueName}}
        </td>
        <td style="text-align:center">
            {{league.wins}}/{{league.losses}}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p style="margin:5px;color:cornsilk">This summoner is unranked.</p>
{% endif %}
