{% extends "base.html" %}


{% load static %}

{% block extended_head %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/summoner.css' %}">

{% endblock %}

{% block background %}

{% if background %}
{{background}}
{% else %}
{% static 'images/big_image_1.jpg' %}
{% endif %}

{% endblock %}

{% block content %}

<div style="width:72%;background-color:rgba(0,0,0,0.750)">
    <div class="verticalContainer">
        <div class="icon"
             style="background-image:url('http://ddragon.leagueoflegends.com/cdn/8.10.1/img/profileicon/{{summoner.profileIconId}}.png');">

            <p class="level">Level {{summoner.summonerLevel}}</p>
        </div>
        <div class="summonerName">
            <p style=" ">{{summoner.name}}</p>
            <p style="font-size:small">
                {% if not mainchamp == "Nothing" %}
                {{adjective}}
                <a href="http://localhost/champions/?name={{mainchamp}}">{{mainchamp}}</a> main. {{exclamation}}
                {% endif %}
            </p>
        </div>
    </div>

    <div>
        <p style="padding-left:20px" title="at {{onlineTime}} ^-^ (updates daily)">Last seen online on {{onlineDate}}</p>
    </div>
    <div class="">
        <ul class="navul">
            <li class="navli  navactive ">
                <a class="nav-link" href="#content" onclick="select(0)">Ranked</a>
            </li>
            <li class="navli">
                <a class="nav-link" href="#content" onclick="select(1)">Champion Mastery</a>
            </li>
        </ul>
    </div>
    <div class="scontent" id="content">
        <iframe class="activeFrame" src="rank/?summoner={{summoner.id}}"></iframe>
        <iframe class="inactiveFrame" a-src="mastery/?summoner={{summoner.id}}"></iframe>
    </div>

</div>
<script src="{% static 'js/summoner.js' %}"></script>
{% endblock %}