
.icon{
text-align:center;overflow-y:
inherit;border-radius: 5px;
float:left;
margin:25px;
width:100px;
height:100px;
background-size:cover;
position:relative;
}

.iconOverlay{
background-image:url('/static/summoner-frames.png');
padding: 25px;
position: relative;
width: 110%;
top: -10px;
height: 110%;
background-size: 1165px 146px;
background-clip: padding-box;
background-position: -23px -14px;
}

.level{
margin:0;
    width: 100%;
    font-size: small;
     background-color: rgba(0,0,0,0.75);
    position: absolute;
    font-weight: 900;
    bottom: 0px;}

.summonerName{
float:left;
margin:25px;
vertical-align:middle;
text-align:left;
 font-size: 42px;display: inline; font-weight: 900;
}

.verticalContainer{
min-height:150px;
transition-duration:0.5s;
}

.summonernav{
display:inline-block;
    list-style-type:none;
    margin-right:-4px;
    padding:10px;
}

.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #40404063;
}

.navli {
    float: left;
}

.navli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navli a:hover:not(.active) {
    background-color: #111;
}

.navactive {
        background-color: #e6e5e31c;
}

.scontent{
height:400px;
width:100%;
overflow:hidden;
}

iframe{
width:100%;
border:0px;
display:block;
transition-duration:0.3s;
}

.activeFrame{
height:400px;
}

.inactiveFrame{
height:0px;

}